@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Credit Card Management System</h1>
    <p>Get started by <a href="/Card" target="_top">capturing a card</a> or <a href="/Provider" target="_top">configuring the list of approved providers</a>.</p>
</div>
 